<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/main.css">
  <title>Formulario</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="wrapper flex flex-col gap-8 mt-12 align-center h-screen">
    <h1 class="text-3xl text-white font-bold text-center">
      Mim da teus dados ?? 🥺👉👈
    </h1>

    {%if error%}
    <div class=" flex justify-center font-bold border border-red-500">
      <p class="max-w-2xl bg-red-500 bg-opacity-10 text-red-500 p-4">Erro: {{error}}</p>
    </div>
    {%endif%}

    {%if success%}
    <div class=" flex justify-center font-bold border border-green-500">
      <p class="max-w-2xl bg-green-500 bg-opacity-10 text-green-500 p-4">{{success}}</p>
    </div>
    {%endif%}

    <div class="my-form flex justify-center align-center">
      <form class=" flex flex-col justify-center align-center gap-6" action="/" enctype="multipart/form-data"
        method="POST">
        <div class="flex flex-col">
          <label class="text-white text-lg" for="name">Nome</label>
          <input required class="h-12 px-4 rounded border border-1 focus:border-2 border-indigo-500 outline-none"
            id="name" name="name" type="text" />
        </div>
        <div class="flex flex-col">
          <label class="text-white text-lg" for="age">Idade</label>
          <input type="number" required
            class="h-12 px-4 rounded border border-1 focus:border-2 border-indigo-500 outline-none" id="age" name="age"
            type="text" />
        </div>
        <div class="flex flex-col">
          <label class="text-white text-lg" for="photo">Fotinhaaaa</label>
          <input required class="h-12 rounded " id="photo" name="photo" type="file" />
        </div>
        <div class="flex flex-col">
          <button class="rounded bg-indigo-500 p-2 text-white hover:opacity-80" type="submit">HMMMMMM DADOSSSSS</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>